body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Calibri',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.circle {
  width: 360px;
  height: 360px;
  margin-left: 400px;
  margin-top: -283px;
  -webkit-border-radius: 180px;
  -moz-border-radius: 180px;
  border-radius: 180px;
  background: #5713E8;
  border: 1px solid red;

}

.circle2 {
  width: 309px;
  height: 309px;
  margin-left: -600px;
  margin-top: -100px;
  -webkit-border-radius: 155px;
  -moz-border-radius: 155px;
  border-radius: 155px;
  background: #5713E8;
  border: 1px solid red;

}

p {
  padding-top: 308px;
  color: #5713E8;
  font-family: 'Roboto', sans-serif;
  font-size: 72px;
  display: inline-block;
  border: 1px solid red;

}

span {
  display: block;
  font-size: 48px;
  margin-left: 40px;
  border: 1px solid red;

}

.q {
  display: inline;
  margin-left: -425px;
  border: 1px solid red;
}

.student {
  margin: -630px 400px;
  border: 1px solid red;

}

#select {
  position: absolute;
  margin: -250px 10px 10px -200px;
  padding: 10px;
  height: 72px;
  width: 520px;
  font-size: 72px;
  border: 1px solid red;

}

.logo {
  display: inline;
  border: 1px solid red;
  margin-left: 275px;
  margin-top: -30px;
}
